# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment files
.env

# MCP files
anytool/config/config_mcp.json

# Logs
logs/

# Embedding cache
.anytool/
embedding_cache/
tool_quality/

# MCP tool cache
mcp_tool_cache.json
mcp_tool_cache_sanitized.json

# Config files
anytool/config/config_dev.json

# LLM keys
anytool/llm/remote_client/

# Local server temp files
anytool/local_server/temp/

examples/